/* .place__paragraph_second {
  max-height: 203px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph_second {
    max-height: 232px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph_second {
    max-height: 234px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph_second {
    max-height: 312px;
  }
} */

.place__paragraph_second {
  color: #fff;
}

/* @media screen and (max-width: 320px) {
  .place__paragraph_second {
    font-size: 12px;
  }
} */
