.cover__subtitle {
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    /* max-width: 360px; */
    max-width: 100%;
    /* font-weight: normal;
    font-size: 18px;
    line-height: 22px; */
  }
}

/* @media screen and (max-width: 1024px) {
  .cover__subtitle {
    max-width: 360px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
} */

@media screen and (max-width: 768px) {
  .cover__subtitle {
    /* max-width: 288px; */
    max-width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}
