.place {
  max-width: 984px;
  max-height: 660px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph-list";
  grid-gap: 40px;
  /* border: 1px solid red; */
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.place:hover {
  opacity: .2;
  transition: opacity 1s linear 1s;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    max-height: 640px;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph-list";
    grid-gap: 32px;
  }

  .place:hover {
    opacity: .2;
    transition: opacity 1s linear 1s;
  }

}

@media screen and (max-width: 786px) {
  .place {
    max-width: 720px;
    max-height: 581px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 73px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph-list";
    grid-gap: 28px;
  }

  .place:hover {
    opacity: .2;
    transition: opacity 1s linear 1s;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 720px;
    max-height: 1042px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    /* display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph-list";
  }

  .place:hover {
    opacity: .2;
    transition: opacity 1s linear 1s;
  }
}
